<nav>
    <!-- MODO PODRE -->
    <a href="/profile/Josébs">Perfil do Josébs</a> <br>
    <a href="/profile/Maariah">Perfil da Mariah</a> <br>
    <a href="/profile/Karrlitus">Perfil do Karrlitus</a> <br>

    <!-- MODO VOCE ACERTOU -->
    <a href="{{ url_for('profile', user_id='Josébs') }}">Perfil do Josébs</a> <br>
    <a href="{{ url_for('profile', user_id='Mariah') }}">Perfil da Mariah</a> <br>
    <a href="{{ url_for('profile', user_id='Karrlitus') }}">Perfil do Karrlitus</a> <br>

    <iframe src="https://giphy.com/embed/jUwpNzg9IcyrK" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-simpsons-scared-homer-simpson-jUwpNzg9IcyrK">via GIPHY</a></p>

</nav>